@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
body {
    margin: 0px;
    font-family: 'Open Sans';
    color: white;
    background-color: #2e3b4e;
}
.conteiner {
    height: 100vh;
    background: url(pex-header-bg.jpg) local no-repeat;
    background-size: 100%;
}
.conteiner header {
    display: flex;
    width: 80%;
    margin-left: 20px;
    border-bottom: 1px solid hsla(360, 100%, 100%, 0.05);
}
header .img {
    width: 30%;
    text-align: center;
}
header .img p {
    font: italic 10px serif;
    margin-bottom: 41px;
}
header .img img {
    width: 40px;
    height: 40px;
    transform: translate(0px, 15px);
    margin-right: 5px;
}
header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
    width: 70%;
    margin-right: 30px;
}
header .nav ul {
    list-style-type: none;
    display: flex;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}
header .nav a {
    border-bottom: 2px solid transparent;
    text-decoration: none;
    font-size: 13px;
    padding: 40px 0px;
    margin-right: 40px;
    color: white;
}
header .nav a:hover {
    border-bottom: 2px solid white;
}
header .search-bar input, .search-bar button {
    border: none;
    background-color: transparent;
    padding: 10px;
}
header .search-bar input:focus, .search-bar button:focus {
    outline: none;
}
header button:hover {
    cursor: pointer;
}
header .search-bar input {
    text-indent: 22px;
}
header .search-bar {
    display: flex;
    width: 220px;
    background-color: #fff;
    flex-shrink: 0px;
    border-radius: 22px;
    border: 1px solid #f2f2f2;
}
header input::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}
.main-content {
    margin: auto 0 auto auto;
    text-align: right;
    flex-shrink: 0;
    transform: translate(0px, -80px);
}
main .h1 {
    font-size: 50px;
    width: 550px;
    line-height: 70px;
}
main a {
    display: inline-block;
    background-color: #8824cd;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2) ;
    border-radius: 30px;
    box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.2), inset 0px 1px 0 0 rgba(255, 255, 255, 0.4);
}
main a:hover {
    background-color: #611a91;
}
main a:active {
    box-shadow:inset -8px 10px 8px 0px rgba(0,0,0,0.12);
}
main p {
    font-size: 13px;
    text-align: right;
}
.conteiner-bottom-box {
    width: 950px;
    margin: auto;
}
main p:first-child {
    margin-top: 80px;
}

.conteiner-bottom footer {
    display: flex;
    flex-wrap: wrap;
}
.content {
    width: 390px;
    padding: 33px;
    flex-shrink: 0;
}
.content p {
    font-size: 15px;
}