.pagination1 li {
    float: left;
    list-style: none;
    padding: 5px;
    margin-top: 30px;
}
.pagination1 li:nth-of-type(1) {
    margin-left: 590px  ;
}
a {
    padding: 10px 15px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    color: #48a7e4;
    text-decoration: none;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.pagination2 {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
.pagination2 li {
    display: inline-block;
}

a.dots {
    border: none;
}

a.Next {
    border: none;
} 
a.activ {
    background-color: #48a7e4;
    color: white;
}
a:hover:not(.activ)  {
    background-color: #d4d4d4;
}
a.Next:hover, a.dots:hover {
    background-color: white;
    text-decoration: underline;
}

